.random-planet {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #383838;
    border-radius: 5px;
}

.random-planet__header {
    margin: 0;
}

.random-planet__img {
    display: block;
    margin: 25px 25px;
    border-radius: 10px;
}

.random-planet__details {
    list-style-type: none;
}

.random-planet__property {
    padding: 10px 0;
    border-top: 1px solid #656565;
}