.item-details {
    display: flex;
    margin: 20px 0;
    flex-grow: 1;
    width: 50%;
    background-color: #383838;
    border-radius: 5px;
}

.item-details__img {
    border-radius: 10px;
    margin: 10px;
}

.item-details__list {
    list-style-type: none;
}

.item-details__item {
    padding: 10px;
    border-top: 1px solid #656565;
}